@font-face{
    font-family: 'Popins-bold';

    src: url('../fonts/Poppins-Bold.ttf');
}
@font-face{
    font-family: 'Popins';

    src: url('../fonts/Poppins-Medium.ttf');
}
@font-face{
    font-family: 'Popins-black';

    src: url('../fonts/Poppins-Black.ttf');
}
@font-face{
    font-family: 'Raleway';

    src: url('../fonts/Raleway-VariableFont_wght.ttf');
}
@font-face{
    font-family: 'Roboto';

    src: url('../fonts/Roboto/Roboto-Regular.ttf');
}
@font-face{
    font-family: 'Roboto-black';

    src: url('../fonts/Roboto-Black.ttf');
}
@font-face{
    font-family: 'Open';

    src: url('../fonts/OpenSans-Bold.ttf');
}
@font-face{
    font-family: 'Cons';

    src: url('../fonts/Constantine.ttf');
}
@font-face{
    font-family: 'Intro';

    src: url('../fonts/Intro.otf');
}

